[Unit]
Description=RC Car Data Transmitter
Requires= rcstation_configure_wifi.service
After= rcstation_configure_wifi.service
PartOf=rcstation.target 

[Service]
ExecStart=/usr/local/bin/rcstation_udp_tx.bash
EnvironmentFile=/etc/rccar.conf

[Install]
WantedBy=rcstation.target 
